body{
    font-family: 'Montserrat';
    background-color: $bg-body;
}
.container{
    max-width: 1219px;
    margin: 0 auto;
  
}
h1{
    font-size: 82px;
    line-height: 82px;
    font-weight: 700;
    color: $white;
}
h2{
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    color: $color-h2;
}
h3{
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $white;
           
}
.hide{
    display: none;
}
