.btn{
    border-radius: 40px;
    color: $white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    &:hover{
        border: 2px solid #8D81AC;
        background-color: $white;
        color: $violet;
    }
    &-small{
        font-size: 16px;
        line-height: 17px;
        height: 37px;
    }
    &-middle{
        font-weight: 400;
        font-size: 15px;
        line-height: 15px;
        height: 45px;
    }
    &-big{
        font-size: 21px;
        line-height: 22px;
        height: 62px;
    }
    &-violet{
        background-color: $violet;
    }
}