header{
    padding-top: 31px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    width: 100%;
    .header{
       @include flex-center;
       justify-content: flex-start;
        .logo{
            cursor: pointer;
            &:hover{
                .logo-item-1{
                    display: none;
                }
                .logo-item-2{
                    display: flex !important;
                }
            }
            &-item{
                display: flex;
                align-items: center;
                &-2{
                    display: none;
                }
                img{
                    &:last-child{
                        margin-left: 17px;
                    }
                }
            }
        }
        &-content{
            display: flex;
            align-items: center;
            margin-left: auto;
            .naw{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    margin-right: 48px;
                    a{
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 17px;
                        color: $violet;
                        &:hover{
                            color: $white;
                        }
    
                    }
                }
            }
        }
        .btn{
            width: 145px;
        }
    }
}