main{
    .main{
        position: relative;
        background-color: $black;
        background-image: url(../img/main-img.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position: center bottom;
        &-content{
            padding: 183px 0 451px 0;
            @include flex-center-column;
            p{
                font-size: 30px;
                line-height: 30px;
                color: $violet;
                margin: 19px 0;
                text-align: center;
            }
            span{
                font-size: 16px;
                line-height: 16px;
                font-weight: 400;
                color: $grey;
            }
        }
        .btn-wrapper{
            position: absolute;
            bottom: -62px;
            @include flex-center-column;
            .btn{
                margin-bottom: 19px;
                width: 390px;
            }
            label{
                font-size: 14px;
                line-height: 15px;
                color: $grey;
            }
        }
    }
    .revolutionary-block{
        padding: 129px 0 70px 0;
        @include flex-center-column;
        p{
            margin: 25px 0 25px 0;
            font-weight: 400;
            font-size: 21px;
            line-height: 32px;
            text-align: center;
        }
    }
   .features-block{
    padding: 98px 0 33px 0;
    background-color: #F4F4F4;
        .features{
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        gap: 76px 30px;
        position: relative;
        right: 0;
        .editor{
            height: 86%;
            position: relative;
            left: -12px;
        }
        h3{
            color: $violet;
            position: relative;
            width: max-content;
            margin-bottom: 20px;
            &::before{
                content: "<";
                left: -33px;
            }
            &::after{
                content: ">";
                right: -33px;
            }
        }
        &-item{
            .item{
                display: flex;
                margin-bottom: 34px;
                .img{
                    flex: 0 0 21%;
                }
                .title{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 21px;
                    color: #323232;
                    margin-bottom: 16px;
                }
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 21px;
                    color: #848E97;
                }
            }
        }
    }
   }
   .testmonials-block{
       background-image: url(../img/testmonials-bg.png);
       background-repeat: no-repeat;
       background-size: cover;
       background-position-y: bottom;
       padding: 108px 0 18px 0;
       h3{
           text-align: center;
       }
       .testmonials{
           display: grid;
           grid-template: auto / repeat(3, 1fr);
           gap: 116px 87px;
           margin: 85px 0 118px;
           &-item{
            @include flex-center-column;
            p{
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $white;
                text-align: center;
                margin-top: 30px;
            }
           }
       }
       .description{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #A291A5;
        text-align: center;
       }
   }
   .pricing{
       background-image: url(../img/layer-2.png);
       background-repeat: no-repeat;
       background-size: cover;
       margin-top: -10px;
       padding: 112px 0 90px 0;
       .line{
        background: #645766;
        height: 2px;
        @include flex-center;
        margin: 0 180px 112px 180px;
       }
       h3{
           text-align: center;
           margin-bottom: 16px;
       }
       .card{
           display: grid;
           grid-template: auto / repeat(4, 1fr);
           gap: 71px 15px;
           margin-top: 112px;
           .active{
               height: 108%;
               margin-top: -50px;
               .card-item{
                   &-top{
                       background-color: #402D41;
                   }
                   &-content{
                       background-color: #4B3449;
                       .price{
                        font-size: 82px;
                        line-height: 90px;
                       }
                   }
               }
           }
           &-item{
            background: #ffffff17;
            padding-bottom: 36px;
            height: 91%;
               &-top{
                height: 97px;
                background-color: #ffffff1a;
                @include flex-center;
                span{
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #FFFFFF; 
                }
               }
               &-content{
                   padding: 30px 10px 36px 10px;
                @include flex-center-column;
                   justify-content: flex-start;
                   height: 90%;
                   color: $white;
                   .price{
                    font-weight: 400;
                    font-size: 60px;
                    line-height: 90px;
                    margin-bottom: 20px;
                   }
                   label{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                   }
                   .description{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: center;
                    margin-bottom: 36px;
                   }
                   .line-card{
                    width: 60px;
                    height: 5px;
                    margin: 38px 0 36px 0 ;
                    background-color: $violet;
                   }

                .btn{
                    width: 163px;
                    border: none;
                    background-color: #ffffff1a;
                    margin-top: auto;
                }
               }
           }
       }
   }
}