@media only screen and (max-width: 768px) {
    h1{
        font-size: 72px !important;
        line-height: 72px !important;
    }
    h3{
        font-size: 42px !important;
        line-height: 44px !important;
    }
    .hide-mb{
        display: none;
    }
    .show-mb{
        display: block !important;
    }
header{
    background-color: #27262A;
    padding: 18px 20px !important;
}
   .header{
       justify-content: center !important;
       flex-wrap: wrap;
       .logo{
           margin-right: auto;
       }
    &-content{
        order: 3;
        margin-top: 19px;
        margin-left: inherit !important;
    }
    .btn{
        order: 2;
    }
   }

   
                
    .features{
        grid-template: auto / repeat(1, 1fr) !important;
        background-color: #FFFF;
        
     
            &-item.img{
                padding-left: 30px;
                     
    }
    .editor{
        right: -50px !important;
    }
      
} 

.testmonials{
    grid-template: auto / repeat(2, 1fr) !important;
    justify-content: center !important;
   }

   .card{
    grid-template: auto / repeat(2, 1fr) !important;
    padding: 121px 108px !important;
    // justify-self: end;
    width: 257px;
    
       }
.card-item {
    font-family: Montserrat !important;
}
   .hide .show-mb{
    justify-content: center !important;
    
   }
  .editor{

   }
}
    .naw{
        display: none;
    }
    
@media only screen and (max-width: 320px) {
    .header{
        justify-content: center !important;
        flex-wrap: wrap;
        .logo-forkio{
            display: none;
        }
        .logo{
            margin-right: auto;
        }
     &-content{
         order: 3;
         margin-top: 19px;
         margin-left: inherit !important;
     }
     .btn{
         order: 2;
     }
    }
    .revolutionary-block{

    }
    
    .testmonials{
    grid-template: auto / repeat(1, 1fr) !important;
   }
       .description{
        font-size: 14px !important;
        color: #A291A5;
       }
  
   .card{
    grid-template: auto / repeat(1, 1fr) !important;
   

       
}

}
