* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px 0;
}

.title {
    font-size: 80px;
    margin-bottom: 40px;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.blue {
    color: #4BCAFF;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background: #35444F;
    color: #ffffff;
}

.box {
    text-align: center;
    padding: 20px;
}

nav {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.aside-menu {
    width: 344px;
    border: 1px solid #000;
    margin-left: 20px;
}

.aside-menu ul {
    list-style: none;
    padding: 0;
}

.aside-menu li {
    padding: 10px;
}

.main {
    text-align: center;
    padding: 20px;
}

.images {
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.images:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #7A63696E;
    color: #0C1927;
}

.flex-container-footer {
    display: flex;
    justify-content: center;
}

.flex-container-footer div {
    padding: 10px;
}