.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 0;
}

.card .delete-btn {
    cursor: pointer;
    color: blue;
    float: right;
}