<header>
  <div class="container">
    <div class="header">
        <div class="logo">
            <div class="logo-item logo-item-1">
                <img src="@img/logo-img-1.svg">
                <img class="logo-forkio" src="@img/logo-img-2.svg">
            </div>
            <div class="logo-item logo-item-2">
                <img src="@img/logo-img-hov-1.svg">
                <img src="@img/logo-img-hov-2.svg">
            </div>
        </div>
        <div class="header-content">
            <ul class="naw">
                <li>
                    <a href="">Overview</a>
                </li>
                <li>
                  <a href="">About Fork</a>
              </li>
              <li>
                  <a href="">Buying Options</a>
              </li>
              <li>
                  <a href="">Support</a>
              </li>
            </ul>
        </div>
        <button class="btn btn-small btn-violet">Buy Now</button>
     </div>
  </div>
</header>