.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .contentContainer {
    width: 500px;
    padding: 30px;
    background: white;
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
  
    h2 {
      margin-bottom: 10px;
    }
  }
  
  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 35px;
    gap: 15px
  }
  
  .btn {
    background: #3B5998;
    border: none;
      border-radius: 5px;
      padding: 5px 10px;
      color: white;
      cursor: pointer;
      font-size: 16px;
    width: fit-content;
  
    &:hover {
      background: #2d4373;
    }
  
    &.red {
      background: #d93025;
      &:hover {
        background: #a82a1f;
      }
    }
  }