body {
    background-color: #0E0E0E;

}

body * {
    margin: 0;
    padding: 0;
}

.container_first {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.logo {
    margin-left: 50px;
}

.header {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;
}

.button_header {
    color: #E4B564;
    background-color: #0E0E0E;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

.paragraph {
    height: 56px;
    color: #ffffff;
    margin-top: 41px;
    margin-bottom: 41px;

}

.title_second {
    margin-top: 161px;
    margin-bottom: 94px;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

}

.grid>div {
    font-size: 20px;
    padding: .5em;
    color: #FFFFFF;
    text-align: center;
}

.item1 {
    grid-column: 1 / span 2;
    background: #634F2C;
    height: 468px;
    grid-column-start: 1;
    grid-column-end: 3;

}

.item2 {
    background: #B4A385;
    height: 468px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item3 {
    background: #E4B564;
    height: 468px;
    grid-column-start: 5;
    grid-column-end: 7;
}

.item4 {
    background: #635A4A;
    height: 468px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.item5 {
    background: #B08C4D;
    height: 468px;
    grid-column-start: 4;
    grid-column-end: 7;
}

.container_second {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
}

.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-gap: 10px;

}

.grids>div {
    font-size: 20px;
    padding: .5em;
    color: #FFFFFF;
    width: 468px;


}

.items1 {
    background: #0E0E0E;
    height: 313px;
    grid-column: 1/2;
    grid-row: 1/10;
}

.items2 {
    background: #242424;
    grid-row: 1/14;
    grid-column: 2/3;
}

.items3 {
    background: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/7;
}

.items4 {
    background: #1F1F1F;
    grid-column: 1/2;
    grid-row: 10/30;
}

.items5 {
    background: #E4B564;
    grid-column: 2/3;
    grid-row: 14/30;
}

.items6 {
    background: #0E0E0E;
    grid-column: 3/4;
    grid-row: 7/21;
}

.items7 {
    background: #0A0909;
    grid-column: 3/4;
    grid-row: 21/30;
}

.container_third {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    background-color: #0E0E0E;
    margin-top: 172px;

}

.gridss {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

.gridss>div {
    font-size: 20px;
    padding: .5em;
    color: #FFFFFF;
    text-align: center;
    
    width: 486px;
    height: 391px;
}

.itemss1 {
    background: #634F2C;

}

.itemss2 {
    background: #E8D2AB;

}

.itemss3 {
    background: #E4B564;

}

.itemss4 {
    background: #635A4A;

}

.itemss5 {
    background: #B08C4D;

}

.itemss6 {
    background: #634F2C;

}

.button {
    color: #E4B564;
    background-color: #0E0E0E;
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
}

.third {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
}

