body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#slider-container {
    position: relative;
    width: 600px; 
    overflow: hidden;
    margin: auto;
   }

#slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-image {
    width: 100%;
    flex: 0 0 auto;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}