.MyButton {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  background-color: #e74c3c;

  &:hover {
    filter: contrast(200%);
  }
}

