body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input:focus {
    border-color: green;
}

input.invalid {
    border-color: red;
}

#output {
    margin-top: 10px;
}

#output span {
    margin-right: 5px;
}

#output button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 14px;
}