.App {
  text-align: center;
  margin-top: 100px;
}

button {
  margin: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.modal h2 {
  margin-top: 0;
}

.modal button {
  margin-top: 10px;
}