.App {
    text-align: center;
    color: white;
    padding: 20px;
  
    .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(7, 6, 6, 0.938);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .modal-content {
      background-color: #f31616;
      width: 400px;
      padding: 20px;
      border-radius: 4px;
    }
  
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      background-color: rgba(184, 21, 21, 0.938);
      
  
      h3 {
        margin: 0;
      }
  
      .close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  
    .modal-body {
      margin-bottom: 10px;
    }
  
    .modal-footer {
      display: flex;
      justify-content: flex-end;
    }
  
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      background-color: rgba(184, 21, 21, 0.938);
      color: white;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  