body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#minesweeper {
    display: grid;
    grid-template-columns: repeat(8, 40px);
    grid-template-rows: repeat(8, 40px);
    gap: 1px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
}

.mine {
    background-color: #f00;
    color: #fff;
}

.flag {
    background-color: #00f;
    color: #fff;
}

#result {
    margin-top: 20px;
}

#restart {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}