.nav {
    ul {
      display: flex;
      gap: 25px;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  
    .link {
      text-decoration: none;
      font-size: 22px;
      color: white;
  
      &.active {
        cursor: default;
        opacity: .3;
      }
    }
  }