.nav-main {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .intro {
    margin-top: 23px;
  
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  
  @media screen and (min-width: 768px) {
    .nav-main {
      @include flex-center();
    }
  }
  
  /**************** nav  *********************/
  .header-menu {
    position: absolute;
    display: none;
    list-style: none;
    background: #f5f5f5;
    top: 37px;
    width: 180px;
    z-index: 50;
  
    &.active {
      display: flex;
      align-items: flex-start;
    }
  
    .header-menu__items {
      width: 100%;
    }
  
    .header-menu__item {
      display: flex;
  
      &.active {
        .item__link {
          color: var(--active-color-menu);
        }
      }
  
      .item__link {
        color: var(--main-color-text);
        text-transform: uppercase;
        width: 100%;
        font-size: 11px;
        padding: 8px 13px;
  
        &:hover {
          background: #e5e5e5;
        }
      }
    }
  }
  
  .burger-menu {
    @include flex-center;
    cursor: pointer;
    width: 44px;
    height: 37px;
    background: #000;
    color: #fff;
  
    .fa-bars {
      display: inline-block;
    }
  
    .fa-xmark {
      display: none;
    }
  
    &.active {
      .fa-bars {
        display: none;
      }
  
      .fa-xmark {
        display: inline-block;
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .burger-menu {
      display: none;
    }
  
    .header-menu {
      position: initial;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      background: transparent;
      z-index: 50;
      width: 80%;
  
      .header-menu__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }
    }
  }
  